.footer {
  width: 100%;
  background-color: #000000;
  border-radius: 55px 55px 0 0;
  color: white;
  display: flex;

  justify-content: center;
}

.socialMediaDiv {
  display: flex;
  align-items: center;
  width: 250px;
  flex-direction: column;
}

.social-media-icons {
  display: flex;
  width: 200px;
  margin-top: -10px;
  font-size: x-large;
  list-style: none;
  gap: 20px;
}
.social-media-icons li {
  opacity: 0.5;
}
.social-media-icons li:hover {
  opacity: 1;
  cursor: pointer;
  scale: 120%;
  transition: 0.2s;
}
