.section2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2vw;
  align-items: center;
  min-height: 100vh;
  gap: 1vw;
}
.project_list {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vw;
}
.projects {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  font-size: 13px;
  padding: 4px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgb(164, 162, 162);
}
.projects img {
  cursor: pointer;
}
