.sidebar_main {
  width: 60%;
  height: 100%;
  background-color: rgba(10, 5, 5, 0.699);
  backdrop-filter: blur(1em);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1001;
  border-radius: 10px 0 0 10px;
  transition: 0.5s;
  overflow: hidden;
}
.sidebar_closer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  height: 100%;
  transition: 0.5s;
  /* overflow: hidden; */
  background-color: rgba(10, 5, 5, 0.032);
}
.content {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exit_btn {
  font-size: 6vw;
  position: fixed;
  top: 1vw;
  right: 2vw;
  cursor: pointer;
}
.side_menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  font-size: 8vw;
  gap: 4vw;
  transition: 0.9s;
}
.side_menu ul li {
  cursor: pointer;
  color: aliceblue;
}
.side_menu ul li:hover {
  transform: scale(1.3);
  transition: 0.5s;
}
.side_menu ul i {
  font-size: 10vw;
}
ul i p {
  font-size: 8vw;
}
